<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpr.usuarioapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.ufpr.usuarioapp.MapaSimples"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="br.ufpr.usuarioapp.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.ufpr.usuarioapp.MapaHome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufpr.usuarioapp.MyHomeLocationActivity"
            android:label="@string/title_activity_my_home_location" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufpr.usuarioapp.BKP_BuscandoTaxiActivity"
            android:label="@string/title_activity_buscando_taxi" >
        </activity>
        <activity
            android:name="br.ufpr.usuarioapp.DadosClienteActivity"
            android:label="@string/title_activity_dados_cliente" >
        </activity>
        <activity
            android:name="br.ufpr.usuarioapp.BuscandoTaxiActivity"
            android:label="@string/title_activity_dados_cliente" >
        </activity>
    </application>

</manifest>